body{
    background:black;
    font-family: 'Josefin Sans', sans-serif;
}


.welcome-slide {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.welcome-text {
    font-size: 100px;
}

.hidden1, .hidden2, .hidden3, .hidden4 {
    opacity : 0;
    transition: all .3s ease;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}

.background-img {
    background: url(assets/img/landscape_salinas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: white;
}


