body{
    background:black;
    font-family: 'Josefin Sans', sans-serif;
    font-size: 100%;
}

.fp-tableCell {
    display: block;
}
.welcome-slide {
    color: white;
    height: 100%;
    width: 100%;
    display: flex;
    position: fixed;
    align-items: center;
    justify-content: center;
}






.welcome-text {
    font-size: 1em;
}

.special-text{
    margin: 0em 0em 0em 4em;
}

.hidden1, .hidden2, .hidden3, .hidden4 {
    opacity : 0;
    transition: all .3s ease;
}

.background-img {
    background: url(assets/img/landscape_salinas.jpg) no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size:cover;
    color: white;
}

@media only screen and (max-width: 420px){
    body {
        font-size: 0.5em;
    }
    
    .special-text{
        margin: 0em 0em 0em 1em;
    }
}
/*
.bottom {
    width: 10em;
    height: 10em;
    border-radius: 50%;
    position: absolute;
    bottom: 3em;
    left: 50%;
    border: 0.5em solid white;
}

.bottom:after {
  content: '';
  display: inline-block;
  margin: 2em 3em;
  width: 3.4em;
  height: 3.4em;
  border-top: 0.5em solid white;
  border-right: 0.5em solid white;
  -moz-transform: rotate(135deg);
  -webkit-transform: rotate(135deg);
  transform: rotate(135deg);
}

a {
    display: inline-block;
    border-radius: 50%
}

a:hover .bottom{
    border : 0.5em;
}

a:hover .bottom:after{
    border-top: 0.5em solid blue;
    border-right: 0.5em solid blue;
}

.second-section{
    background-color: red;
}
*/


